etisnoop
faadalyse
faad2-2.7
tags
autom4te.cache
*.o
stamp-h1
.deps
.dirstamp

Makefile.in
aclocal.m4
build-aux
configure
config.log
config.h
config.h.in
config.status
config.sub
config.guess
Makefile
missing
depcomp
install-sh
compile
.*.swp
*~
